* {
    text-align: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.INVITE {
    background-color: rgb(93, 120, 174);
    padding: 10px;
    color: white;
    border: none;
}

.INVITE:hover {
    background-color: blueviolet;
}

.Email {
    height: 30px;
    width: 400px;
    background-color: rgb(189, 188, 188);
    color: black;
    border: white;
    border-radius: 5px;
}

.logo {
    height: 70px;
    width: 70px;
    padding-top: 10px;
    margin: 10px auto;
}