* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: blueviolet;
    padding: 10px;
    color: aliceblue;
}

h1 {
    color: red;
}

.footer {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0 15px;
    border-radius: 10px;
}

.footer:hover {
    background-color: brown;
}

strong {
    color: black;
}

p {
    margin: 38px;
}