.card {
    width: 400px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.card-header {
    padding: 20px;
    text-align: left;
}

.card-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card-header h2 {
    margin: 10px 0;
    font-size: 18px;
    position: relative;
    left: 104px;
    bottom: 85px;
}

.card-header p {
    font-size: 14px;
    color: #777;
    position: relative;
    left: 104px;
    bottom: 85px;
}

.card-body {
    padding: 20px;
}

.card-body p {
    font-size: 16px;
    line-height: 1.5;
}

.card-footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.card-footer button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.card-footer button:hover {
    background-color: #ddd;
}